@page "/"
@inject IJSRuntime JS;
@inject IConfiguration _configuration;
@implements IDisposable;
@inject IEvacuationDataService _evacDataSvc;
@inject IStaticLocationInformationService _staticInfoSvc;

<div class="fh" id="map-area"></div>


@code {
    private IJSObjectReference? _evacModule;

    private List<Data.EvacuationArea> _evacAreas = new List<Data.EvacuationArea>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _evacModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/evac.js");

            await _evacModule!.InvokeVoidAsync("initMap", _configuration.GetValue<string>("AzureMapsKey"));

            _evacAreas = await _evacDataSvc.GetEvacuationAreasAsync();
            await _evacModule!.InvokeVoidAsync("renderEvacAreas", _evacAreas);

            var regions = await _staticInfoSvc.GetRegionsAsync();
            await _evacModule!.InvokeVoidAsync("renderRegions", regions);

            var facilities = await _staticInfoSvc.GetFacilitiesAsync();
            await _evacModule!.InvokeVoidAsync("drawFacilities", facilities);

            StateHasChanged();
        }
    }

    public void Dispose()
    {
        
    }
}