@page "/"
@inject IJSRuntime JS;
@inject IConfiguration _configuration;
@implements IDisposable;
@inject IEvacuationDataService _evacDataSvc;


<div class="live-container container-fluid">
    <div class="row">
        <div class="col-2 evac-list">
            <h3>Current Evacuation Alerts</h3>
            @foreach(Data.EvacuationArea evacArea in _evacAreas)
            {
                <div class="evac-alert-area">
                    <div class="evac-alert-agency">@evacArea.IssuingAgency</div>
                    <div class="evac-alert-type">@evacArea.EventType</div>

                    <div class="evac-alert-name">@evacArea.Name</div>

                </div>
            }
        </div>
        <div class="col-10 fh" id="map-area">
        </div>
    </div>
</div>

@code {
    private IJSObjectReference? _evacModule;

    private List<Data.EvacuationArea> _evacAreas = new List<Data.EvacuationArea>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _evacModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/modules/evac.js");

            await _evacModule!.InvokeVoidAsync("initMap", _configuration.GetValue<string>("AzureMapsKey"));

            _evacAreas = await _evacDataSvc.GetEvacuationAreasAsync();
            await _evacModule!.InvokeVoidAsync("renderEvacAreas", _evacAreas);
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        
    }
}