.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.logo-area {
    position: absolute;
    top: 0.37em;
    left: 18px;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

.top-row {
    background-color: #0056a6;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    color: white;
}

    .top-row > a {
        color: white;
    }

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
