@inherits LayoutComponentBase

<PageTitle>Evac Alert</PageTitle>

<div class="page">

    <div class="logo-area">
        Evac Alert
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/gregorosaurus/EvacAlert" target="_blank">Github</a>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

